<section class="py-16 bg-purple-200">  
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-2">
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Legal Citations and References</h3>
                    <p class="mb-6">Gain access to an extensive database of legal citations and references pertaining to Guyana's laws, ensuring thorough research and accurate referencing.</p>
                    <!-- <a href="#" class="block font-medium text-purple-600">Know more</a> -->
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/graphic.svg" class="w-2/3 ml-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600" />
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Effortless Search Functionality</h3>
                    <p class="mb-6">Navigate through legal cases and statutes with ease using our intuitive search feature, facilitating quick and precise retrieval of specific information.</p>
                    <!-- <a href="#" class="block font-medium text-purple-600">Know more</a> -->
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ui-design.svg" class="w-2/3 ml-auto" alt="illustration" loading="lazy" width="900" height="600" />
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">User-Friendly Interface</h3>
                    <p class="mb-6">Our platform boasts a user-friendly interface designed to streamline navigation and enhance research productivity, allowing you to focus on your legal analysis without unnecessary hurdles.</p>
                    <!-- <a href="#" class="block font-medium text-purple-600">Know more</a> -->
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ux-design.svg" class="w-2/3 ml-auto" alt="illustration" loading="lazy" width="900" height="600" />
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Regular Updates </h3>
                    <p class="mb-6">Stay informed with regular updates that ensure you have access to the most current legal information, enabling you to make informed decisions and stay ahead of legal developments.</p>
                    <!-- <a href="#" class="block font-medium text-purple-600">Know more</a> -->
                </div>
                <img src="https://tailus.io/sources/blocks/end-image/preview/images/ux-design.svg" class="w-2/3 ml-auto" alt="illustration" loading="lazy" width="900" height="600" />
            </div>
        </div>
    </div>
</section>
