<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white font-bold">
        <a href="#">LawNavigatorGY</a>
      </div>
      <ul class="flex">
        <li class="mr-6">
          <a href="#" class="text-white hover:text-gray-300">Home</a>
        </li>
        <li class="mr-6">
          <a routerLink="/search" class="text-white hover:text-gray-300">Search Laws</a>
        </li>
        <li>
          <a routerLink="/contact" class="text-white hover:text-gray-300">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <section>
    <router-outlet></router-outlet>
  </section>
  