<section class="py-24 flex items-center min-h-screen justify-center bg-white">
    <div class="mx-auto max-w-[43rem]">
      <div class="text-center">
        <p class="text-lg font-medium leading-8 text-indigo-600/95">Introducing a Modern Way of Citing and Searching Law Text</p>
        <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">Revolutionize Guyana's Law Access: Search, Cite, Read Better! </h1>
        <p class="mt-3 text-lg leading-relaxed text-slate-400">Empowering Legal Research: A Revolutionary Approach to Accessing Guyana's Laws</p>
      </div>
  
      <div class="mt-6 flex items-center justify-center gap-4">
        <a href="/pages/search" class="transform rounded-md bg-indigo-600/95 px-5 py-3 font-medium text-white transition-colors hover:bg-indigo-700">Start Searching</a>
        <a href="#" class="transform rounded-md border border-slate-200 px-5 py-3 font-medium text-slate-900 transition-colors hover:bg-slate-50"> Contact Us </a>
      </div>
    </div>
  </section>
  